<app-header></app-header>
<div class="container mt-5 mb-5 pt-4 pb-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="dashboard-title">Dashboard de Analytics</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h4 class="card-title text-center">Comandas por Mês</h4>
                <canvas id="barChartComandasPorMes"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h4 class="card-title text-center">Distribuição de Comandas</h4>
                <canvas id="lineChartDistribuicao" class="line-chart-shadow"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h4 class="card-title text-center">Comandas por Prioridade</h4>
                <canvas id="pieChartPrioridade"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h4 class="card-title text-center">Tendência de Comandas</h4>
                <canvas id="lineChartTendenciaPrioridades"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h4 class="card-title text-center">Comparação de Prioridades</h4>
                <canvas id="radarChartPrioridadesPorMes"></canvas>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
