canvas {
    width: 100% !important;
    height: 350px !important;
}

.line-chart-shadow {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.dashboard-title {
    margin-top: 60px;
}

.shadow-sm {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

*,
body,
h1, h2, h3, h4, h5, h6,
p, a, span, li, blockquote,
input, textarea, button,
label, div, td, th {
  font-family: 'Nunito', Arial, sans-serif;
  box-sizing: border-box;
}
@media (max-width: 768px) {
    canvas {
      height: 300px !important;  /* Ajuste a altura dos gráficos para telas menores */
    }
  
    .card {
      margin-bottom: 20px;  /* Aumenta o espaçamento entre os cards */
    }
  }
  