<div class="container mt-5">
    <h2>Criar Nova Comanda</h2>
    <form [formGroup]="comandaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input id="titulo" formControlName="titulo" class="form-control" />
      </div>
      
      <div class="form-group">
        <label for="observacoes">Observações</label>
        <textarea id="observacoes" formControlName="observacoes" class="form-control"></textarea>
      </div>
      
      <div class="form-group">
        <label for="mesa">Mesa</label>
        <input id="mesa" formControlName="mesa" class="form-control" />
      </div>
      
      <div class="form-group">
        <label for="produtos">Produtos</label>
        <select id="produtos" formControlName="produtosSelecionados" class="form-control" multiple>
          <option *ngFor="let produto of produtos" [value]="produto.id">{{ produto.nome }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input id="quantidade" formControlName="quantidade" type="number" class="form-control" />
      </div>
      
      <div class="form-group">
        <label for="prioridade">Prioridade</label>
        <select id="prioridade" formControlName="prioridade" class="form-control">
          <option value="0">Baixa</option>
          <option value="1">Média</option>
          <option value="2">Alta</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select id="cliente" formControlName="cliente" class="form-control">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nome }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="funcionario">Funcionário</label>
        <select id="funcionario" formControlName="funcionario" class="form-control">
          <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{ funcionario.nome }}</option>
        </select>
      </div>

      <!-- Adiciona o campo de status -->
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status" class="form-control">
          <option value="0">Aberto</option>
          <option value="1">Andamento</option>
          <option value="2">Encerrado</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-success">Criar Comanda</button>
    </form>
</div>
