<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

<footer class="footer">
    <div class="container text-center py-4">
      <a class="navbar-brand d-flex justify-content-center align-items-center mb-3" href="#">
        <i class="bi bi-exclude custom-icon"></i>
        <span class="brand-name">SmartOrder</span>
      </a>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Inicio</a></li>
        <li><a href="#" class="footer-link">Entrar</a></li>
        <li><a href="#" class="footer-link">Registrar</a></li>
      </ul>
      <p class="footer-text">Este é o projeto final da 7ª Academia Java Atos</p>
    </div>
  </footer>
  