/* CSS Ajustado */

.header {
  margin-top: 1.5px;
  margin-right: 1.5px;
  margin-left: 1.5px;
  border-radius: 28px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Adicionado !important para garantir a aplicação */
}

.bg-custom {
  background-color: #ffffff;
}

.custom-button {
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  color: white !important;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  outline: none;
}

/* Estilos dos botões */
.btn-register {
  background-color: #FF6E7F !important;
  margin-right: 5px;
  box-shadow: 0 4px 8px rgba(255, 110, 127, 0.6);
}

.btn-login {
  background-color: #FF77A9 !important;
  box-shadow: 0 4px 8px rgba(255, 119, 169, 0.6);
}

.btn-register:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(255, 110, 127, 0.6);
}

.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(255, 119, 169, 0.6);
}
.custom-icon {
  color: #FF6E7F; /* Cor personalizada para o ícone */
  font-size: 1.5rem; /* Tamanho do ícone */
  margin-right: 8px; /* Espaço entre o ícone e o texto 'SmartOrder' */
}

.brand-name {
  font-weight: bold;
  font-size: 1.2rem; /* Tamanho do texto */
  color: #000000;
  font-family: 'Nunito', sans-serif; /* Aplicar a fonte Nunito */
}
.custom-button:active {
  transform: translateY(2px);
}

.distance-button {
  margin-top: 0px;
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 992px) {
  .distance-button {
    margin-top: 10px;
  }

  #menu-button {
    margin-left: auto;
    margin-right: 15px;
  }
}

.animated-icon1 {
  width: 25px;
  height: 18px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
*,
body,
h1, h2, h3, h4, h5, h6,
p, a, span, li, blockquote,
input, textarea, button,
label, div, td, th {
  font-family: 'Nunito', Arial, sans-serif;
}
.animated-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  background: #FF77A9;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 8px;
}

.animated-icon1 span:nth-child(3) {
  top: 16px;
}

.animated-icon1.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
