<div class="container mt-5">
    <h2 class="text-center mb-4">Por que escolher a SmartOrder?</h2>
    <div class="card-grid">
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/PincelRoxo.png" alt="Icone" class="mb-3">
                <h5>Totalmente personalizável</h5>
                <p>Você pode personalizar tudo de acordo com suas necessidades.</p> <!-- Informação adicional -->
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/ElectricYellow.png" alt="Icone" class="mb-3">
                <h5>Controle seu negócio com eficiência</h5>
                <p>Mantenha o controle de suas operações com ferramentas eficientes.</p> <!-- Informação adicional -->
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/UsersRed.png" alt="Icone" class="mb-3">
                <h5>Receba feedbacks dos seus clientes</h5>
                <p>Entenda o que seus clientes pensam e melhore continuamente.</p> <!-- Informação adicional -->
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/ConversationRed.png" alt="Icone" class="mb-3">
                <h5>Comunicação garçom x cheff</h5>
                <p>Facilite a comunicação entre sua equipe de forma eficiente.</p> <!-- Informação adicional -->
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/RelogioVerde.png" alt="Icone" class="mb-3">
                <h5>Saiba quão rápido é o seu estabelecimento no preparo</h5>
                <p>Monitore o tempo de preparo dos pedidos em tempo real.</p> <!-- Informação adicional -->
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/NotaRoxa.png" alt="Icone" class="mb-3">
                <h5>Visualize as comandas em tempo real no seu painel de Cheff</h5>
                <p>Acompanhe os pedidos enquanto eles são preparados em tempo real.</p> <!-- Informação adicional -->
            </div>
        </div>
    </div>
</div>
