<div class="container mt-5">
    <h2 class="text-center mb-4">Por que escolher a SmartOrder?</h2>
    <div class="card-grid">
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/PincelRoxo.png" alt="Icone" class="mb-3">
                <h5>Totalmente personalizável</h5>
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/ElectricYellow.png" alt="Icone" class="mb-3">
                <h5>Controle seu negócio com eficiência</h5>
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/UsersRed.png" alt="Icone" class="mb-3">
                <h5>Receba feedbacks dos seus clientes</h5>
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/ConversationRed.png" alt="Icone" class="mb-3">
                <h5>Comunicação garçom x cheff</h5>
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/RelogioVerde.png" alt="Icone" class="mb-3">
                <h5>Saiba quão rápido é o seu estabelecimento no preparo</h5>
            </div>
        </div>
        <div class="card-item">
            <div class="card-content">
                <img src="../../../assets/icons/NotaRoxa.png" alt="Icone" class="mb-3">
                <h5>Visualize as comandas em tempo real no seu painel de Cheff</h5>
            </div>
        </div>
    </div>
</div>
