*,
body,
h1, h2, h3, h4, h5, h6,
p, a, span, li, blockquote,
input, textarea, button,
label, div, td, th {
  font-family: 'Nunito', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container principal para o efeito de vidro */
.glass-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 120px;
}

/* Blobs Container */
.blobs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilo das Blobs */
.blob {
    position: absolute;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255,127,102,1) 0%, rgba(255,107,102,0.5) 100%);
    border-radius: 50%;
    mix-blend-mode: color-dodge;
    transition: all 0.5s ease;
}

.blob1 {
    background: radial-gradient(circle, rgba(255,174,102,1) 0%, rgba(255,107,102,0.5) 100%);
}

.blob2 {
    background: radial-gradient(circle, rgba(186,85,211,1) 0%, rgba(147,112,219,0.5) 100%);
}

.blob3 {
    background: radial-gradient(circle, rgba(255,102,154,1) 0%, rgba(255,87,130,0.5) 100%);
}

/* Estilos gerais */
.glass-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    padding: 40px;
    text-align: center;
    z-index: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 200px;
}

.main-text {
    font-family: 'Nunito', sans-serif;
    color: #2F2F2F;
    font-size: 3.4rem;
    line-height: 1.2;
    min-height: 3rem;
    min-width: 100%;
    font-weight: 400;
}

.glass-button {
    background-color: #FF6E7F;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.glass-button:hover {
    background-color: #ff5676;
}

.typewriter-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #FF6E7F;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    margin-bottom: 0;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FF6E7F; }
}

.text-container {
    max-width: 100%;
    width: 70%;
    max-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* iPhone 14 Pro Max */
@media only screen and (min-device-width: 430px) and (max-device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .main-text {
    font-size: 2.6rem;
  }
  .glass-button {
    bottom: 35% !important;
    font-size: 1rem !important;
  }
}

/* iPhone 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .main-text {
    font-size: 2.4rem;
  }
  .glass-button {
    bottom: 28% !important;
    font-size: 0.8rem !important;
  }
}

/* iPhone XR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .main-text {
    font-size: 2rem;
  }
  .glass-button {
    bottom: 32% !important;
    font-size: 0.9rem !important;
  }
}

/* iPhone SE */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .main-text {
    font-size: 1.8rem !important;
  }
  .glass-button {
    bottom: 25% !important;
    font-size: 0.8rem !important;
  }
}

/* Samsung Galaxy S8+ */
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) and (-webkit-device-pixel-ratio: 4) {
  .main-text {
    font-size: 2.0rem;
  }
  .glass-button {
    bottom: 10% !important;
    font-size: 0.8rem !important;
  }
}

/* Telas menores */
@media (max-width: 768px) {
  .blob {
    width: 150px;
    height: 150px;
  }
  .main-text {
    font-size: 2.2rem;
  }
  .text-container {
    width: 100% !important;
  }
  .glass-button {
    bottom: 35%;
    background-color: #FF6E7F;
    border: none;
    padding: 10px 20px !important;
    font-size: 0.8rem;
  }
}

/* Telas menores */
@media (max-width: 480px) {
  .blob {
    width: 100px;
    height: 100px;
  }
  .glass-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
